# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dist folder (sản phẩm build)
dist/
dist-ssr/
build/

# Tệp môi trường
.env

# Tệp cục bộ
*.local

# Temporary files
tmp/
temp/

# Cache và các file tạm
.npm
.eslintcache

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.sw?

# MacOS system files
.DS_Store
