.H-img {
  background-image: url("../../assets/img/H.jpg");
}
.active {
  background-color: orange;
}
.active .title {
  color: white;
}
.hidden {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.visible {
  max-height: 200px; /* Điều chỉnh chiều cao phù hợp với nội dung */
  opacity: 1;
}
/* @media screen and (max-width: 768px) {
    .flex {
      display: flex;
      flex-direction: column;
    }
    .col-5 {
      width: 100%;
    }
    .H-res {
      top: 0;
    }
  } */
